---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import { isNew } from "../lib/utils";

// 最近のプロジェクトを取得
const projects = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_projects = projects.slice(0, 3);

// 最近のブログを取得
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-6 mt-3">
    <div class="text-base py-1">マイページへようこそ!</div>
    <div class="text-4xl font-bold">nasu</div>
    <div class="text-xl py-2 font-bold">面倒なことはコンピュータにやらせよう</div>
    <div class="py-2">
      <text class="text-sm">
        電気通信大学で情報工学を学んでいます。<br>
        キーワード：アルゴリズム / 競技プログラミング / Python / ロシア語
      </text>
    </div>
    <div class="mt-8">
      <a href="readme" target="" class="btn btn-outline btn-sm">Readme</a>
      <a href="my-career" target="" class="btn btn-outline btn-sm ml-3">My Career</a>
      <a class="btn btn-outline btn-sm ml-3" target="_blank" onclick="return confirm('メールを起動しますか？')" href="mailto:contact@nasu.uk" target="_blank"> Contact </a>
    </div>
  </div>

  <div>
    <div class="text-xl w-full font-bold mb-2">Latest from Works {"</>"}</div>
  </div>

  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          imgDark={project.data.heroImageDark} // ダークモード画像対応
          desc={project.data.description}
          url={project.data.url}
          badge={[
            isNew(project.data.pubDate) && "NEW",
            project.data.badge
          ]}
          tags={project.data.tags}
          custom_tags_url="/projects/tag"
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-xl w-full font-bold mb-3 mt-6">Latest from Blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={`/blog/${post.slug}`}
          target="_self"
          badge={[
            isNew(post.data.pubDate) && "NEW",
            post.data.badge
          ]}
          tags={post.data.tags}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
